.video-feed-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: #000;
}

.video-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.video-player {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.video-info {
    position: absolute;
    bottom: 120px;
    left: 20px;
    color: white;
}
