/* 悬浮头像按钮 */
.floating-avatar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;                     /*  添加背景圈 */
    padding: 4px;                           /* 让头像缩进产生边 */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* 阴影 */
    z-index: 3000;
}

.floating-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/* 悬浮 Sidebar（抽屉） */
.sidebar-float {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 220px;
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);

    opacity: 0;
    transform: translateX(-15px) scale(0.95);
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 2100;
}

.sidebar-float.show {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: auto;
}

.menu {
    margin: 14px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.menu:hover {
    color: #fb7299;
}
