body {
    margin: -30px;
    padding: 0;
    overflow-x: hidden;
}


.home-page {
    padding: 20px;
}

.category-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-item {
    background: #f5f5f5;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.banner-placeholder {
    width: 100%;
    height: 250px;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 25px;
}

/* 左侧轮播占 70% 宽度 */
.banner-area {
    flex: 6;
    margin-left: 14px;
}

/* 右侧推荐占 30% 宽度 */
.right-recommend-area {
    flex: 4;
}
