.home-right-recommend {
    width: 100%;
    background: white;
    border-radius: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px 0;
}

.top-bar button {
    background: #fb7299;
    color: white;
    border: none;
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.recommend-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommend-card {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.recommend-card img {
    width: 90px;
    height: 55px;
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0;
}

.recommend-card .info {
    position: static ;
    flex-grow: 1; 
    min-width: 0;
    text-align: left;
}

.recommend-card .info .title {
    color: #000000;
    font-size: 14px;
    margin-bottom: 4px;
}

.recommend-card .info .author {
    color: #777;
    font-size: 12px;
}
